@{
  Layout = "_Layout";
}

<div class="w3-container w3-center">
  <h2>Add a new Specialty for @Model["currentStylist"].GetName()</h2>
  @if(@Model["allSpecialtys"].Count == 0)
  {
    <h3>No Specialties</h3>
  }
  @if(@Model["allSpecialtys"].Count > 0)
  {
    <div class="form-group">
      <form action="/stylists/@Model["currentStylist"].GetId()/specialtys/create" method="post">
        <label for="specialty"><h4>Specialty: </label>
        <select id='specialty' name='specialty' type='text' class="form-control">
          @foreach (var specialty in @Model["allSpecialtys"])
          {
            <option value='@specialty.GetId()'>@specialty.GetName()</option>
          }
        </select>
        <button type="submit">Add</button>
      </form>
    </div>
  }
  <h3><a href="/specialtys/create">Create New Specialty</a></h3>
  <h3><a href="/stylists/@Model["currentStylist"].GetId()/details">Back To @Model["currentStylist"].GetName()'s' Profile</a></h3>
  <h3><a href="/stylists">Back to All Stylsits</a></h3>
  <h3><a href="/specialtys">See All Specialties</a></h3>
  <h3><a href="/">Back Home</a></h3>
</div>
